/**
 * Airflow API (Stable)
 * Apache Airflow management API.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: dev@airflow.apache.org
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package org.openapitools.client.api;

import org.openapitools.client.model.DAGRun;
import org.openapitools.client.model.DAGRunCollection;
import java.util.Date;
import org.openapitools.client.model.Error;
import org.openapitools.client.model.ListDagRunsForm;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;
import org.apache.cxf.jaxrs.ext.multipart.*;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

/**
 * Airflow API (Stable)
 *
 * <p>Apache Airflow management API.
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/")
public interface DagRunApi  {

    /**
     * Trigger a DAG Run
     *
     */
    @POST
    @Path("/dags/{dag_id}/dagRuns/{dag_run_id}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    public DAGRun createDagRun(@PathParam("dag_id") String dagId, @PathParam("dag_run_id") String dagRunId, DAGRun daGRun) throws ApiException, ProcessingException;

    /**
     * Delete a DAG Run
     *
     */
    @DELETE
    @Path("/dags/{dag_id}/dagRuns/{dag_run_id}")
    @Produces({ "application/json" })
    public void deleteDagRun(@PathParam("dag_id") String dagId, @PathParam("dag_run_id") String dagRunId) throws ApiException, ProcessingException;

    /**
     * Get a DAG Run
     *
     */
    @GET
    @Path("/dags/{dag_id}/dagRuns/{dag_run_id}")
    @Produces({ "application/json" })
    public DAGRun getDagRun(@PathParam("dag_id") String dagId, @PathParam("dag_run_id") String dagRunId) throws ApiException, ProcessingException;

    /**
     * Get all DAG Runs
     *
     * This endpoint allows specifying &#x60;~&#x60; as the dag_id to retrieve DAG Runs for all DAGs. 
     *
     */
    @GET
    @Path("/dags/{dag_id}/dagRuns")
    @Produces({ "application/json" })
    public DAGRunCollection getDagRuns(@PathParam("dag_id") String dagId, @QueryParam("limit") @DefaultValue("100") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("execution_date_gte") Date executionDateGte, @QueryParam("execution_date_lte") Date executionDateLte, @QueryParam("start_date_gte") Date startDateGte, @QueryParam("start_date_lte") Date startDateLte, @QueryParam("end_date_gte") Date endDateGte, @QueryParam("end_date_lte") Date endDateLte) throws ApiException, ProcessingException;

    /**
     * Get all DAG Runs from aall DAGs.
     *
     * This endpoint is a POST to allow filtering across a large number of DAG IDs, where as a GET it would run in to maximum HTTP request URL lengthlimits 
     *
     */
    @POST
    @Path("/dags/~/dagRuns/list")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    public DAGRunCollection getDagRunsBatch(ListDagRunsForm listDagRunsForm) throws ApiException, ProcessingException;

    /**
     * Update a DAG Run
     *
     */
    @PATCH
    @Path("/dags/{dag_id}/dagRuns/{dag_run_id}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    public DAGRun updateDagRun(@PathParam("dag_id") String dagId, @PathParam("dag_run_id") String dagRunId, DAGRun daGRun, @QueryParam("update_mask") List<String> updateMask) throws ApiException, ProcessingException;
}

