/**
 * Airflow API (Stable)
 * Apache Airflow management API.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: dev@airflow.apache.org
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package org.openapitools.client.api;

import org.openapitools.client.model.Connection;
import org.openapitools.client.model.ConnectionCollection;
import org.openapitools.client.model.Error;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;
import org.apache.cxf.jaxrs.ext.multipart.*;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

/**
 * Airflow API (Stable)
 *
 * <p>Apache Airflow management API.
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/")
public interface ConnectionApi  {

    /**
     * Create connection entry
     *
     */
    @POST
    @Path("/connections")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    public Connection createConnection(Connection connection) throws ApiException, ProcessingException;

    /**
     * Delete a connection entry
     *
     */
    @DELETE
    @Path("/connections/{connection_id}")
    @Produces({ "application/json" })
    public void deleteConnection(@PathParam("connection_id") Integer connectionId) throws ApiException, ProcessingException;

    /**
     * Get a connection entry
     *
     */
    @GET
    @Path("/connections/{connection_id}")
    @Produces({ "application/json" })
    public Connection getConnection(@PathParam("connection_id") Integer connectionId) throws ApiException, ProcessingException;

    /**
     * Get all connection entries
     *
     */
    @GET
    @Path("/connections")
    @Produces({ "application/json" })
    public ConnectionCollection getConnections(@QueryParam("limit") @DefaultValue("100") Integer limit, @QueryParam("offset") Integer offset) throws ApiException, ProcessingException;

    /**
     * Update a connection entry
     *
     */
    @PATCH
    @Path("/connections/{connection_id}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    public Connection updateConnection(@PathParam("connection_id") Integer connectionId, Connection connection, @QueryParam("update_mask") List<String> updateMask) throws ApiException, ProcessingException;
}

