/**
 * Airflow API (Stable)
 * Apache Airflow management API.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: dev@airflow.apache.org
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package org.openapitools.client.api;

import org.openapitools.client.model.Error;
import org.openapitools.client.model.XCom;
import org.openapitools.client.model.XComCollection;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;
import org.apache.cxf.jaxrs.ext.multipart.*;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

/**
 * Airflow API (Stable)
 *
 * <p>Apache Airflow management API.
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/")
public interface XComApi  {

    /**
     * Delete an XCom entry
     *
     */
    @DELETE
    @Path("/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/xcomEntries/{key}")
    @Produces({ "application/json" })
    public void deleteXComValue(@PathParam("dag_id") String dagId, @PathParam("dag_run_id") String dagRunId, @PathParam("task_id") String taskId, @PathParam("key") String key) throws ApiException, ProcessingException;

    /**
     * Get all XCom entries
     *
     * This endpoint allows specifying &#x60;~&#x60; as the dag_id, dag_run_id, task_id to retrieve XCOM entries for for all DAGs, DAG Runs and task instances.
     *
     */
    @GET
    @Path("/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/xcomEntries")
    @Produces({ "application/json" })
    public XComCollection getXComEntry(@PathParam("dag_id") String dagId, @PathParam("dag_run_id") String dagRunId, @PathParam("task_id") String taskId, @QueryParam("limit") @DefaultValue("100") Integer limit, @QueryParam("offset") Integer offset) throws ApiException, ProcessingException;

    /**
     * Get an XCom entry
     *
     */
    @GET
    @Path("/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/xcomEntries/{key}")
    @Produces({ "application/json" })
    public XCom getXComValue(@PathParam("dag_id") String dagId, @PathParam("dag_run_id") String dagRunId, @PathParam("task_id") String taskId, @PathParam("key") String key) throws ApiException, ProcessingException;

    /**
     * Create an XCom entry
     *
     */
    @POST
    @Path("/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/xcomEntries")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    public XCom updateXComEntry(@PathParam("dag_id") String dagId, @PathParam("dag_run_id") String dagRunId, @PathParam("task_id") String taskId, XCom xcom) throws ApiException, ProcessingException;

    /**
     * Update an XCom entry
     *
     */
    @PATCH
    @Path("/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/xcomEntries/{key}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    public XCom updateXComValue(@PathParam("dag_id") String dagId, @PathParam("dag_run_id") String dagRunId, @PathParam("task_id") String taskId, @PathParam("key") String key, XCom xcom, @QueryParam("update_mask") List<String> updateMask) throws ApiException, ProcessingException;
}

